<div class="top-controls hidden-xs">
    <div class="view-selector">
        <div class="view view-three selected" data-mode="3" ng-click="updateViewNrOfColumns($event)" ng-class="{ 'selected': nrOfColumns === 3}">
            <span></span><span></span><span></span>
        </div>
        <div class="view view-five" data-mode="5" ng-click="updateViewNrOfColumns($event)" ng-class="{ 'selected': nrOfColumns === 5}">
            <div class="row1"><span></span><span></span><span></span><span></span><span></span></div>
            <div class="row2"><span></span><span></span><span></span><span></span><span></span></div>
        </div>
    </div>
    <select name="productSorting" ng-model="sortOrder" ng-change="sortProducts()">
        <option value="popularity">Popularity</option>
        <option value="priceAscending">Price ascending</option>
        <option value="priceDescending">Price decending</option>
        <option value="rating">Best review</option>
    </select>
</div>
