@model HomePageViewModel


@if (!Model.ShowRecommendations)
{
    return;
}

<div class="overflow-hidden clearfix">
    <div class="block sectionblock narrow">
        <div class="color-@Model.CurrentPage.RecommendationSection.ColorSection color-solid-@Model.CurrentPage.RecommendationSection.ColorSection">
            <div class=" section-image-block  @(Model.CurrentPage.RecommendationSection.ShowArrow ? " section-image-padding" : "")" style="background-image: url(@(Url.ContentUrl(Model.CurrentPage.RecommendationSection.Image)));">
                <div class="color-@Model.CurrentPage.RecommendationSection.ColorText">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>@Html.PropertyFor(m => m.CurrentPage.RecommendationsHeader)</h2>
                            </div>
                            <div class="col-md-12">
                                <div class="overflow-hidden clearfix">
                                    <div class="block recommendedproductsblock narrow SectionContent">
                                        <div class="row">

                                            @foreach (var product in Model.RecommendationsForHomePage)
                                            {
                                                <div class="col-md-4">
                                                    @Html.Partial("ProductPartials/_ProductListView", product)
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    @if (Model.CurrentPage.RecommendationSection.ShowArrow)
                    {
                        <div style="position: absolute; bottom: 20px; left: 50%; margin-left: -19px;">
                            <a class="coverr-nav-item" href="#SectionBottomRecs" style="text-decoration: none;">
                                <div class="sectionArrow">
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
        @if (Model.CurrentPage.RecommendationSection.ShowArrow)
        {
            <div id="SectionBottomRecs"></div>
        }
    </div>
</div>
