<?xml version="1.0" encoding="utf-8"?>
<module productName="Campaign" viewEngine="Razor">
  <assemblies>
    <add assembly="OxxCommerceStarterKit.Web" />
  </assemblies>
  <routes>
    <route url="{moduleArea}/{controller}/{action}/">
      <defaults>
        <add key="moduleArea" value="Campaign" />
        <add key="controller" value="" />
        <add key="action" value="Index" />
      </defaults>
    </route>
  </routes>
</module>