@model List<ProductListViewModel>
@{
    Layout = null;
}
<h1>Recommended Products for You!</h1>
@if (Model != null)
{
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4">
                @Html.Partial("ProductPartials/_ProductListView", product)
            </div>
        }

    </div>

}
