@model OxxCommerceStarterKit.Web.Controllers.RecommendedProductsBlockController.RecommendedResult
@{
    Layout = null;
}
@if (Model != null && Model.Products.Any())
{
    <h2>@Model.Heading</h2>
    <div class="row">
        @if (Model.Products != null && Model.Products.Any())
        {
            foreach (var product in Model.Products)
            {
                <div class="col-md-4">
                    @Html.Partial("ProductPartials/_ProductListView", product)
                </div>
            }
        }
    </div>
}
else
{
    if (EPiServer.Editor.PageEditing.PageIsInEditMode)
    {
        // Editor help
        <h2>No Recommended Products Found</h2>
        <div>
            This block has no content. The module has been disabled or there is a problem with the configuration.
        </div>
    }
}